In [2]:
import pandas as pd
import pyarrow.parquet as pq

# NYC Trips Data

In [10]:
trips_df = pd.read_parquet("../data/raw/nyc_trip_records/yellow_tripdata_2024-01.parquet")

In [11]:
trips_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [13]:
trips_df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'Airport_fee'],
      dtype='object')

In [22]:
trips_df.passenger_count.value_counts()

passenger_count
1.0    2188739
2.0     405103
3.0      91262
4.0      51974
5.0      33506
0.0      31465
6.0      22353
8.0         51
7.0          8
9.0          1
Name: count, dtype: int64

In [21]:
trips_df.mta_tax.value_counts()

mta_tax
 0.5    2900474
-0.5      34434
 0.0      29707
 4.0          5
 1.6          1
 0.8          1
 1.4          1
 3.0          1
Name: count, dtype: int64

In [23]:
trips_df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'Airport_fee'],
      dtype='object')

In [24]:
# Important columns
important_columns = {
    'tpep_pickup_datetime' : 'pickup_datetime',
    'tpep_dropoff_datetime' : 'dropoff_datetime',
    'passenger_count' : 'passenger_count',
    'trip_distance' : 'trip_distance',
    'PULocationID' : 'pickup_location_id',
    'DOLocationID' : 'dropoff_location_id',
    'fare_amount' : 'fare_amount',
    'tip_amount' : 'tip_amount',
    'total_amount' : 'total_amount'
}

In [34]:
trips_df = (
    trips_df[list(important_columns.keys())]
    .rename(columns=important_columns)
)

In [35]:
trips_df.head()

,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_location_id,dropoff_location_id,fare_amount,tip_amount,total_amount
0,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,186,79,17.7,0.00,22.70
1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,140,236,10.0,3.75,18.75
2,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,236,79,23.3,3.00,31.30
3,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,79,211,10.0,2.00,17.00
4,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,211,148,7.9,3.20,16.10

In [37]:
trips_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2964624 entries, 0 to 2964623
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   pickup_datetime      datetime64[us]
 1   dropoff_datetime     datetime64[us]
 2   passenger_count      float64
 3   trip_distance        float64
 4   pickup_location_id   int32
 5   dropoff_location_id  int32
 6   fare_amount          float64
 7   tip_amount           float64
 8   total_amount         float64
dtypes: datetime64[us](2), float64(5), int32(2)
memory usage: 180.9 MB